.topLandingPAge {
  background-image: url("/images/30861.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  padding: 70px 0 5px 0;
}
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap');
.nombreMila{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 80px;
  color: black;
  letter-spacing: 5px;
  margin-top: 20px;
  text-align: center;
}
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&disp');
.pensamientosMila{
  color: #702011;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  margin-top: 10px
}
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap');
.landingBody
 {
  background-color: #f0a42f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  color: white;
  font-size: 30px;
  padding-bottom: 50px;
}
.information{
  padding: 50px 20px 20px 20px;
  justify-content: center;
}
.messageBottom{
  padding-bottom: 40px;
}
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap');
.button{
  display: inline-block;
  background-color: #702011;
  color: white;
  font-size: 18px;
  text-align:center;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 10px 12px 5px 20px;
  border-radius: 4px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
